{
  "// Last Updated": "2025-02-18 20:40:18 UTC by NUbivek",
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "loose": true
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-class-properties", { "loose": true }]
  ]
}
